.qa-list-item {
  border: solid 1px #ddd;
  display: flex;
  
  &:not(:nth-child(1)) {  
    margin-top: 1em;
  }
  
  &__container {
    padding: 1em;
  }
  
  &__nav {
    flex: 0 0 6em;
    background: #ddd;
    
    &-btn {
      width: 100%;
      padding: 0.5em;
      border: solid 1px transparent;
      border-bottom: solid 1px #fff;
      background: transparent;
      display: block;
    }
  }
  
  &__title {
    margin-top: 0;
  }
  
  &__body {
    margin: 0;
  }
}