$namespace = ".qa-list-item";
$col_errorPrime = #f9c6d3;
$col_errorSecond = #8c0c0c;
$vert_spacing = 1em;

{$namespace} {
  width: 100%;
  outline: solid 1px #ddd;
  display: table;
  
  &:not(:nth-child(1)) {  
    margin-top: 1em;
  }
  
  &__container,
  &__nav {
    display: table-cell;
    vertical-align: top;
  }
  
  &__container {
    padding: 1em;
  }
  
  &__nav {
    width: 7.5em;
    background: #ddd;
    
    &-btn {
      width: 100%;
      text-transform: uppercase;
      padding: 0.5em 1.5em;
      border: solid 1px transparent;
      border-bottom: solid 1px #fff;
      background: transparent;
      display: block;
      
      .btn__body {
        font-weight: normal;
        padding: 0;
        text-shadow: none;
      }
    }
  }
  
  &__title,
  &__body {
    width: 100%;
    padding: 0.25em 0.5em;
    display: block;
    
    &.is--readonly {
      resize: none;
      overflow: hidden;
      border: none;
      padding: 0;
      background: transparent;
    }
  }
  
  &__title {
    font-weight: bold;
    font-size: 1.25em;
    height: 1.25em;
    margin-top: 0;
  }
  
  &__error {
    color: $col_errorSecond;
    font-weight: bold;
    padding: 0.5em;
    margin-top: $vert_spacing;
    background: $col_errorPrime;
    display: none;
    
    &.has--error {
      display: block;
    }
  }
  
  &__expander {
    position: relative;
    
    &.is--for-body {
      margin-top: $vert_spacing;
    }
    
    .is--pre,
    .is--textarea {
      min-height: 1.65em;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    
    .is--textarea {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      resize: none;
    }
    
    .is--pre {
      border: 0;
      margin: 0;
      display: block;
      visibility: hidden; // Hide the text; just using it for sizing
    }
  }
}

{$namespace}--is--invalid {
  outline-color: $col_errorSecond;
  animation: shake .5s linear;
}

@media (max-width: 500px) {
  {$namespace} {
    
    &__container,
    &__nav {
      display: block;
    }
    
    &__nav {
      width: 100%;
    }
  }
}

@keyframes shake {
  8%, 41% {
    transform: translateX(-10px);
  }
  25%, 58% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-5px);
  }
  92% {
    transform: translateX(5px);
  }
  0%, 100% {
    transform: translateX(0);
  }
}